<div id="main-nav">
  <nav class="pure-menu pure-menu-open pure-menu-horizontal">
    <div class="profile">
      <a class="pure-button pure-button-primary" href="{{me}}" title="Go to your profile">My Profile</a>
    </div>
    <ul>
      {{#each pages}}
        {{#if isActive}}
          <li class="pure-menu-selected">
        {{else}}
          <li>
        {{/if}}
          {{#if method}}
            <a href="{{path}}" title="{{title}}" data-method="{{method}}">
          {{else}}
            <a href="{{path}}" title="{{title}}">
          {{/if}}
            {{menuName}}</a>
        </li>
      {{/each}}
      {{#each actions}}
        <li>
          {{#if method}}
            {{#if primary}}
              <a class="pure-button pure-button-primary" href="{{path}}" title="{{title}}" data-method="{{method}}">{{menuName}}</a>
            {{else}}
              <a class="pure-button" href="{{path}}" title="{{title}}" data-method="{{method}}">{{menuName}}</a>
            {{/if}}
          {{else}}
            {{#if primary}}
              <a class="pure-button pure-button-primary" href="{{path}}" title="{{title}}">{{menuName}}</a>
            {{else}}
              <a class="pure-button" href="{{path}}" title="{{title}}">{{menuName}}</a>
            {{/if}}
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </nav>
</div>
