<div id="main-nav">
  <nav class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
      {{#each pages}}
        {{#if isActive}}
          <li class="pure-menu-selected">
        {{else}}
          <li>
        {{/if}}
          {{#if method}}
            <a href="{{path}}" title="{{title}}" data-method="{{method}}">
          {{else}}
            <a href="{{path}}" title="{{title}}">
          {{/if}}
            {{menuName}}</a>
        </li>
      {{/each}}
    </ul>
  </nav>
</div>
