<div id="main-nav">
  {{#if loggedin}}
  <div class="profile">
    <a class="pure-button pure-button-primary" href="{{loggedin}}" title="Go to the member-only area">Members Only</a>
  </div>
  {{/if}}
  <nav class="pure-menu pure-menu-open pure-menu-horizontal">
    <label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu" onclick></label>
    <input type="checkbox" id="toggle">
    <ul>
      {{#each pages}}
        {{#if isActive}}
          <li class="pure-menu-selected">
        {{else}}
          <li>
        {{/if}}
          {{#if method}}
            <a href="{{path}}" title="{{title}}" data-method="{{method}}">
          {{else}}
            <a href="{{path}}" title="{{title}}">
          {{/if}}
            {{menuName}}</a>
        </li>
      {{/each}}
      {{#each actions}}
        <li>
          {{#if method}}
            {{#if primary}}
              <a class="pure-button pure-button-primary" href="{{path}}" title="{{title}}" data-method="{{method}}">{{menuName}}</a>
            {{else}}
              <a class="pure-button" href="{{path}}" title="{{title}}" data-method="{{method}}">{{menuName}}</a>
            {{/if}}
          {{else}}
            {{#if primary}}
              <a class="pure-button pure-button-primary" href="{{path}}" title="{{title}}">{{menuName}}</a>
            {{else}}
              <a class="pure-button" href="{{path}}" title="{{title}}">{{menuName}}</a>
            {{/if}}
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </nav>
</div>
