{{> top}}
<div class="member-page">
  <div class="menu">
  {{{menu}}}
  </div>
  <div class="content">
    {{#each members}}
      <div class="member">
        {{#if photoPath}}
          <div class="member-photo">
            <img src="{{photoPath}}" width="200" height="200">
          </div>
        {{/if}}
        <div>{{lastName}}, {{firstName}}</div>
      </div>
    {{/each}}
  </div>
  <div class="footer">
  {{{footer}}}
  </div>
</div>
{{> bottom}}
