{{> top}}
<div class="menu">
{{{menu}}}
</div>
<div class="member-page">
  <div class="content">
    <div class="pure-g">
      {{#each directoryEntry}}
        <div class="pure-u-1">
          <h1 class="member-list-initial">{{initial}}</h1>
        </div>
        {{#each members}}
          <div class="pure-u-1 pure-u-xl-1-3 pure-u-lg-1-2" data-url="{{memberUrl}}">
            <div class="member">
              {{#if photoPath}}
                <div class="member-photo">
                  <img src="{{photoPath}}" class="pure-img">
                </div>
              {{else}}
                <div class="member-photo">
                  <img src="{{../../../unknownMemberPath}}" class="pure-img">
                </div>
              {{/if}}
              <div class="member-since">
                Since {{since}}
              </div>
              {{#if nickName}}
                <div class="member-nickName">
                  "{{nickName}}"
                </div>
              {{/if}}
              <div class="member-firstName">
                {{firstName}}
              </div>
              <div class="member-lastName">
                {{lastName}}
              </div>
              {{#if email}}
                <div class="member-email">
                  <a href="mailto:{{email}}">{{email}}</a>
                </div>
              {{/if}}
              {{#if phone}}
                <div class="member-phone">
                  {{phone}}
                </div>
              {{/if}}
              {{#if address}}
                <div class="member-address">
                  <div class="member-address-street">{{address.street}}</div>
                  <div class="member-address-apartment">{{address.apartment}}</div>
                  <div>
                    <span class="member-address-city">{{address.city}}</span>
                    <span class="member-address-state">{{address.state}}</span>
                    <span class="member-address-zip">{{address.zip}}</span>
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
        {{/each}}
      {{/each}}
    </div>
  </div>
  <div class="footer">
  {{{footer}}}
  </div>
</div>
{{> bottom}}
