{{> top}}
<div class="menu">
{{{menu}}}
</div>
<div class="member-page">
  <div class="content pure-g">
    <div class="pure-u-1">
      <h1 class="member-info-title">
        <span class="member-info-full-name">{{m.firstName}}</span>
        <span class="member-info-full-nickname">"{{m.nickName}}"</span>
        <span class="member-info-full-name">{{m.lastName}}</span>
      </h1>
    </div>
    <div class="pure-u-1 pure-u-md-1-4 member-info">
      {{#if m.photoPath}}
        <div class="member-photo">
          <img src="{{m.photoPath}}" class="pure-img">
        </div>
      {{else}}
        <div class="member-photo">
          <img src="{{unknownMemberPath}}" class="pure-img">
        </div>
      {{/if}}
      {{#if showPrivateInformation}}
        <div class="private-member-info">
          <div class="private-member-datum">
            <span class="private-member-label">HOG</span>
            <span class="private-member-value">{{m.hogNumber}}</span>
          </div>
          {{#if m.localMembership.expired}}
            <div class="private-member-datum is-error">
              <span class="private-member-label">Local membership expired</span>
              <span class="private-member-value">{{calendar m.localMembership.expiresOn}}</span>
            </div>
          {{else}}
            <div class="private-member-datum">
              <span class="private-member-label">Local membership expires</span>
              <span class="private-member-value">{{calendar m.localMembership.expiresOn}}</span>
            </div>
          {{/if}}
          {{#if m.nationalMembership.expired}}
            <div class="private-member-datum is-error">
              <span class="private-member-label">Nat'l membership expired</span>
              <span class="private-member-value">{{calendar m.nationalMembership.expiresOn 'never'}}</span>
            </div>
          {{else}}
            <div class="private-member-datum">
              <span class="private-member-label">Nat'l membership expires</span>
              <span class="private-member-value">{{calendar m.nationalMembership.expiresOn 'never'}}</span>
            </div>
          {{/if}}
        </div>
      {{/if}}
      <div class="public-member-info">
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-3-4">
    </div>
  </div>
  <div class="footer">
  {{{footer}}}
  </div>
</div>
{{> bottom}}
