{{> top}}
<div class="member-page">
  <div class="menu">
  {{{menu}}}
  </div>
  <div class="content">
    {{#with m}}
      Name: {{firstName}} {{lastName}}<br>
      HOG: {{hogNumber}}
    {{/with}}
  </div>
  <div class="footer">
  {{{footer}}}
  </div>
</div>
{{> bottom}}
